main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: #000000;

    color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 215, 0);
}

.panel {
    background-image: url(../image/Parede-Tijolo-PNG-1536x821.png);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(60, 230, 162);
}

.enemy {
    background-image: url(../image/Wreck-It-Ralph-Detona-Ralph-PNG-11.png);
    background-size: cover; 
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2){
    margin-top: 10px;
}